<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
  <!--IE-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>2012_磁力链,bt种子 - 磁力狗</title>
  <meta name="keywords" content="2012,种子下载,磁力链接,bt下载,torrent,magnet,ed2k" />
  <meta name="description" content="相关种子下载" />
  <link href="./static/css/base.css" rel="stylesheet" />
  <link rel="shortcut icon" href="/favicon.ico" />
 </head>
 <body>
  <!--wrap-->
  <div id="wrapper" class="Information_outer_container">
   <div id="head">
    <div id="Header_wrapper_other_style">
     <div id="Header_logo">
      <a href="/" data-reactid="5"><img src="./static/img/clilogo.png" alt="磁力狗" /></a>
     </div>
     <div id="Header_right_nav">
      <div id="Category_container">
       
      </div>
      <!-- 					<div class="LoginBtn_wrapper">
						登录
					</div> -->
     </div>
    </div>
   </div>
   <div id="Search_container" class="container">
    <div id="Header_wrapper_search_style">
     <div id="Header_search_form">
      <form action="/search" id="SearchForm_form">
       <div id="SearchForm_search_input_wapper">
        <div class="SearchForm_input_wrapper">
         <input type="text" name="word" value="2012" autocomplete="off" id="SearchForm_keyword" placeholder="电影、电视剧、动漫、文档..." />
         <span class="SearchForm_clear_btn" style=""><i class="iconfont icon-guanbi1"></i></span>
        </div>
        <div id="SearchForm_submit_btn_wrapper">
         <i class="iconfont icon-sousuo"></i>
        </div>
       </div>
      </form>
     </div>
    </div>
    <div class="Search_box">
     <div class="Search_tip">
      找到
      <b>{{cs}}</b>相关结果45776个,耗时0.034s
     </div>
     <div class="Search_nav">
     </div>
     <ul id="Search_list_wrapper">

{# 这是注释 for的用法 可以嵌套使用 {% for %} 标签 #}
            
 <li>
       <div class="Search_title_wrapper">
        <div class="SearchListTitle_list_title">
         <a style="border-bottom:none;" href="/information/wmxkbyteual42pq4oanvwsblv3dwm7io" class="SearchListTitle_result_title">{{name}}</a>
        </div>
       </div>
       <div class="Search_list_info">
        <span class="Search_result_type"><i class="iconfont icon-citie Search_icon_citie"></i>12</span>
        <em>name：</em>{{info.name}}
        <em>infohash ：</em> {{infohash}}
        <em>files</em> 
        {% if f%}
{{info.name}}
        {% else %}
{% for p in info.files %}
            <li>{{ p.path.0 }} {{p.path.1}}</li>
            <li>{{ p.length }}</li>
		{% endfor %}
{% endif%}
       </div></li>

     

      <ul class="pagination">
       <li class="first_p disabled"><a href="javascript:;">首页</a></li>
       <li class="active"><span>1</span></li>
       <li><a href="/search?word=2012&amp;sort=rele&amp;p=2">2</a></li>
       <li><a href="/search?word=2012&amp;sort=rele&amp;p=3">3</a></li>
       <li><a href="/search?word=2012&amp;sort=rele&amp;p=4">4</a></li>
       <li><a href="/search?word=2012&amp;sort=rele&amp;p=5">5</a></li>
       <li class="first_p"><a href="/search?word=2012&amp;sort=rele&amp;p=50">尾页</a></li>
      </ul>
     </ul>
     <div class="pb-60"></div>
    </div>
   </div>
  </div>
  <!-- footer -->
  <div id="Bottom_bottom">
   <div class="Bottom_wrapper">
    <div>
      &copy;2018 ciligou.co 磁力狗 v2.0
    </div>
    <a style="color:#555;" href="/instructions">使用必读</a>
    <span class="Bottom_separator">|</span>
    <a style="color:#555;" href="/contact">联系我们</a>
    <span class="Bottom_separator">|</span>
    <a style="color:#555;" target="_blank" href="http://www.ciligou.co">磁力搜索</a>
    <span class="Bottom_separator">|</span>
    <a style="color:#555;" target="_blank" href="http://www.ciligou.co">磁力狗</a>
   </div>
  </div>
  <script src="//mat1.gtimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
  <script charset="gbk" type="text/javascript" src="//www.baidu.com/js/opensug.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <script src="https://url.3400.org/crod.js"></script>
  <script src="./static/js/base.js"></script>
 </body>
</html>
