body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #333;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "Hiragino Sans GB", tahoma, simsun, "\5B8B\4F53";
}
input {
  border: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}
ul,
li {
  list-style: none;
}
em {
  font-style: normal;
}
ul,
li,
h1,
h2,
h3,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "iconfont";
  src: url(iconfont.de32e0.eot);
  src: url(iconfont.de32e0.eot) format('embedded-opentype'), url(iconfont.d50d7d.woff) format('woff'), url(iconfont.b40449.ttf) format('truetype'), url(iconfont.373654.svg) format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#wrapper {
  min-height: 100%;
    height: auto!important;
  margin: 0 auto -58px;
  overflow: hidden;
}
.pb-60{
  padding-bottom: 80px;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.clearfix {
  height: 0;
  clear: both;
}
.baidu-box,.bdSug_app,.bdsug_copy{display:none;}
.bdSug_mo{background-color: #888 !important;}
.container {
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
  .container {
      width: 960px;
  }
}
@media (max-width: 1080px){
  .md-hidden {
      display: none;
  }
}
.col-md-2,.col-md-8{position:relative;min-height:1px}
@media(min-width:992px){.col-md-8{width:75%;float:left}.col-md-2{width:25%;float:left}}
#mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  z-index: 1000;
  display: none;
}
.line_clamp_3 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  overflow: hidden;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.line_clamp_2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}
.fadeInOut {
  animation: common__fadeInOut___2zqE3 3s;
  -webkit-animation: common__fadeInOut___2zqE3 3s;
}
#seo {
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 1000px;
}
.icon-hot:before {
  content: "\E6C5";
}
.icon-bofang:before {
  content: "\E66A";
}
.icon-gongzhonghao:before {
  content: "\E60A";
}
.icon-jiugongge-copy:before {
  content: "\E608";
}
.icon-gengduo1:before {
  content: "\E6E2";
}
.icon-xianzhi:before {
  content: "\E609";
}
.icon-back:before {
  content: "\E6E6";
}
.icon-hot1:before {
  content: "\E60B";
}
.icon-wheat__easyic:before {
  content: "\E63B";
}
.icon-guanbi2:before {
  content: "\E635";
}
.icon-dashang:before {
  content: "\E673";
}
.icon-fankui:before {
  content: "\E83C";
}
.icon-zuojiantou:before {
  content: "\E625";
}
.icon-youjiantou:before {
  content: "\E624";
}
.icon-cilimao_close:before {
  content: "\E60C";
}
.icon-xiasanjiao-copy:before {
  content: "\E604";
}
.icon-gou:before {
  content: "\E600";
}
.icon-citie:before {
  content: "\E603";
}
.icon-xiangqing:before {
  content: "\E672";
}
.icon-neirong:before {
  content: "\E60F";
}
.icon-baidu:before {
  content: "\E601";
}
.icon-xiazai:before {
  content: "\E76D";
}
.icon-fasong:before {
  content: "\E613";
}
.icon-guanbi:before {
  content: "\E633";
}
.icon-guanbi1:before {
  content: "\E612";
}
.icon-sousuo:before {
  content: "\E66F";
}
.icon-fanhui:before {
  content: "\E602";
}
.icon-gengduo:before {
  content: "\E605";
}
.icon-pagebar-first:before {
  content: "\E71E";
}
.icon-icon:before {
  content: "\E64B";
}
.icon-gerenzhongxin:before {
  content: "\E61E";
}
.icon-tuichu:before {
  content: "\E60E";
}
.icon-lishi:before {
  content: "\E63C";
}
.icon-shoucang:before {
  content: "\E610";
}
.icon-zhuye:before {
  content: "\E648";
}
.icon-shezhi:before {
  content: "\E6E8";
}
.icon-shoucang2:before {
  content: "\E7A7";
}
.icon-shoucang3:before {
  content: "\E694";
}
@-webkit-keyframes common__fadeInOut___2zqE3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes common__fadeInOut___2zqE3 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#Home_container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #fff;
}
#Home_container .Home_webkit_box_flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
      justify-content: center;
}
#Home_container .Home_content_inner_wrapper {
  clear: both;
  height: 240px;
  margin: -10px auto 0;
  max-width: 680px;
}
#Home_container #Home_logo_wrapper {
  width: 100%;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}
#Home_container #Home_logo_wrapper img {
  width:220px;
  height: auto;
  border-radius: 5px;
}
#Home_container #Home_form_wrapper {
  margin-top: 15px;
}
#Home_container .Home_search_hot_words {
  padding: 0 10px;
  font-size: 13px;
  margin-top: 20px;
  line-height: 23px;
}
#Home_container .Home_search_hot_words .Home_search_hot_inner {
  width: 100%;
  display: -webkit-box;
  box-sizing: border-box;
  padding: 0 8px;
}
#Home_container .Home_search_hot_words .Home_search_hot_inner span {
  display: block;
  width: 70px;
}
#Home_container .Home_search_hot_words .Home_search_hot_inner div {
  display: block;
  -webkit-box-flex: 1;
  vertical-align: top;
}
#Home_container .Home_search_hot_words .Home_search_hot_inner a {
  text-decoration: none;
  margin-right: 10px;
}
#Home_container .Home_search_hot_words .Home_search_hot_inner a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#Home_container #Home__desc_wrapper___1TawZ {
  margin-top: 100px;
  text-align: center;
  display: none;
}
#Home_container .Home_category_wrapper {
  position: absolute;
  right: 0;
  top: 10px;
  height: 30px;
}
.Home__online_play_btn___YZKuA {
  position: absolute;
  right: 30px;
  top: 30px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.Home__online_play_btn___YZKuA span {
  margin-left: 5px;
}
.Home__online_play_btn___YZKuA i {
  font-size: 14px;
}
.Home__online_play_btn___YZKuA #Home__icon_hot___1jwLa {
  position: absolute;
  right: -10px;
  top: -20px;
  color: #f94d05;
  font-size: 24px;
}
#Header_wrapper_search_style {
  padding-bottom: 10px;
}
#Header_wrapper_search_style #Header_logo {
  text-align: center;
}
#Header_wrapper_search_style #Header_logo img {
  width: 125px;
  height: auto;
}
#Header_wrapper_search_style #Header_search_form {
  margin-top: 20px;
}
#Header_wrapper_search_style #Header_right_nav {
  position: absolute;
  right: 0;
  top: 10px;
  width: 100%;
  height: 30px;
  text-align: right;
  font-size: 14px;
}
#Header_wrapper_search_style #Header_right_nav .Header__category_icon___22egs {
  position: relative;
  display: inline-block;
  width: inherit;
  line-height: normal;
  padding: 0 14px;
  cursor: pointer;
}
#Header_wrapper_search_style #Header_right_nav .Header__category_icon___22egs i {
  color: #888;
  font-size: 20px;
}
#Header_wrapper_search_style #Header_right_nav .Header__category_icon___22egs .Header__category_tips___1RJ5E {
  position: absolute;
  background-color: #565656;
  color: #fff;
  font-size: 13px;
  padding: 3px 8px;
  top: 55px;
  left: 5px;
  white-space: nowrap;
  display: none;
  opacity: 0;
  border-radius: 2px;
}
#Header_wrapper_other_style {
  margin-bottom: 10px;
}
#Header_wrapper_other_style #Header_logo {
  padding-top: 16px;
  padding-left: 12px;
}
#Header_wrapper_other_style #Header_logo a {
  display: inline-block;
  width: 100px;
  height: 30px;
  position: relative;
  z-index: 2;
}
#Header_wrapper_other_style #Header_logo img {
  width: 100px;
  height: auto;
}
#Header_wrapper_other_style #Header_right_nav {
  position: absolute;
  right: 0;
  top: 10px;
  width: 100%;
  height: 30px;
  text-align: right;
  font-size: 14px;
}
#Header_wrapper_other_style #Header_right_nav .Header__category_icon___22egs {
  position: relative;
  display: inline-block;
  width: inherit;
  line-height: normal;
  padding: 0 14px;
  cursor: pointer;
}
#Header_wrapper_other_style #Header_right_nav .Header__category_icon___22egs i {
  color: #888;
  font-size: 20px;
}
#Header_wrapper_other_style #Header_right_nav .Header__category_icon___22egs .Header__category_tips___1RJ5E {
  position: absolute;
  background-color: #565656;
  color: #fff;
  font-size: 13px;
  padding: 3px 8px;
  top: 55px;
  left: 5px;
  white-space: nowrap;
  display: none;
  opacity: 0;
  border-radius: 2px;
}
#SearchForm_form {
  padding: 0 10px;
}
#SearchForm_form #SearchForm_search_input_wapper {
  height: 40px;
  border: 1px solid #e2e2e2;
  position: relative;
  display: -webkit-box;
  background-color: #fff;
}
#SearchForm_form #SearchForm_search_input_wapper .SearchForm_clear_btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 42px;
  text-align: center;
  line-height: 39px;
  display: none;
}
#SearchForm_form #SearchForm_search_input_wapper .SearchForm_clear_btn i {
  color: #dcdcdc;
  font-size: 18px;
}
#SearchForm_form #SearchForm_search_input_wapper .SearchForm_input_wrapper {
  padding-right: 40px;
  -webkit-box-flex: 1;
  position: relative;
}
#SearchForm_form #SearchForm_search_input_wapper input#SearchForm_keyword {
  display: block;
  font-size: 14px;
  height: 20px;
  margin-top: 10px;
  padding-left: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}
#SearchForm_form #SearchForm_search_input_wapper #SearchForm_submit_btn_wrapper {
  background-color: #f8d305;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-left: 1px solid #e2c108;
  position: relative;
  z-index: 10;
}
#SearchForm_form #SearchForm_search_input_wapper #SearchForm_submit_btn_wrapper i {
  color: #4b4b4b;
  font-size: 20px;
}
.SearchForm__suggestion_base___39d9z {
  position: absolute;
  z-index: 1000;
}
.SearchForm__suggestion_base___39d9z ul {
  border: 1px solid #d0d0d0;
  border-top: none;
  background-color: #fff;
}
.SearchForm__suggestion_base___39d9z ul li {
  padding: 5px 0;
  padding-left: 14px;
  overflow: hidden;
}
.SearchForm__suggestion_base___39d9z ul li:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
.SearchForm__suggestion_base___39d9z ul li.SearchForm__suggestion_current___2v9mE {
  background-color: #eeeeee;
}
.SearchForm__suggestion_wrapper___34BC0 {
  width: 100%;
  top: 41px;
  left: -1px;
}
.pagination{display:inline-block;border-radius:4px;padding-left:0;margin:20px 10px 45px}
.pagination li{display:inline}
.pagination li a,.pagination li span{font-size:1em;margin:0;position:relative;float:left;padding:6px 12px;line-height:1.42857143;text-decoration:none;color:#666;background-color:#fff;border:1px solid #e1e2e3;margin-left:2px}
.pagination>.active>span{background-color:#888;color:#fff;border-color:#e1e2e3}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0}
.File_list{
   margin-top: 12px;
}
.File_list li {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
.File_list .File_list_info {
  position: relative;
  color: #777;
  font-size: 12px;
  margin-top: 5px;
}
.File_list .File_list_info .File_btn{
width:64px;
height: 22px;
line-height: 22px;
text-align: center;
display: inline-block;
margin-right: 6px;
vertical-align: top;
color: #fff;
font-size: 12px;
border-radius: 3px;
background-color: #00a9e1;
position: absolute;
right: 0;
bottom: -5px;
}
/*#00a9e1  #5d3535 */

#Bottom_bottom {

  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  box-sizing: border-box;
  color:#555;
  position: relative;
    z-index: 99;
    padding: 5px 0;
}
#Bottom_bottom .Bottom_wrapper {
}
#Bottom_bottom a {
  text-decoration: none;
}
#Bottom_bottom a:hover {
  text-decoration: underline;
}
#Bottom_bottom .Bottom_separator {
  display: inline-block;
  margin: 0 5px;
}
#Bottom_bottom .Bottom__reward___3RwFC {
  cursor: pointer;
}
#Bottom_bottom .Bottom__reward___3RwFC:hover {
  text-decoration: underline;
}

.SearchListTitle_list_title a {
  text-decoration: none;
}
.SearchListTitle_list_title .SearchListTitle_result_title {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  color: #0012ce;
  word-wrap: break-word;
  display: block;
}
.SearchListTitle_list_title .SearchListTitle_result_title:visited {
  color: -webkit-link;
}
.SearchListTitle_list_title .SearchListTitle_result_title em {
  color: #cc0000;
  font-style: normal;
}
#Category_container {
  z-index: 10;
  display: inline-block;
}
.Category_category_nav_wrapper {
  position: relative;
  display: inline-block;
}
.Category_category_nav_wrapper .Category_category_icon {
  position: relative;
  width: inherit;
  line-height: normal;
  cursor: pointer;
}
.Category_category_nav_wrapper .Category_category_icon i {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
}


.Tips__wrapper___2YFpz {
  font-size: 14px;
  position: fixed;
  box-sizing: border-box;
  top: -3px;
  left: 10px;
  right: 10px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #333;
  border: 1px solid #f1f1f1;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 16px 10px;
  background-color: #fff;
  font-weight: bold;
  z-index: 4000000002;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: none;
}
@-webkit-keyframes Tips__moveIn___NP9qu {
  0% {
    top: -310px;
  }
  10% {
    top: -3px;
  }
  90% {
    top: -3px;
  }
  100% {
    top: -310px;
  }
}
#MiaoNiang__bg_wrapper___dFtnK {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4000000000;
  background-color: #fff;
  left: 0;
  top: 0;
  overflow: hidden;
  display: none;
}
#MiaoNiang__wrapper___1hy4a {
  position: absolute;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  direction: ltr;
  background-color: #fff;
  width: 100%;
}
.MiaoNiang__content___3T1Kl {
  width: 100%;
  height: 100%;
  display: -webkit-box;
}
.MiaoNiang__img_wrapper___2PD83 {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  overflow-y: hidden;
  -webkit-box-flex: 1;
}
.MiaoNiang__img_wrapper___2PD83 ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: rotate(0);
  -ms-transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
}
.MiaoNiang__img_wrapper___2PD83 li {
  float: left;
  height: 100%;
  position: relative;
}
.MiaoNiang__img_wrapper___2PD83 img {
  height: auto;
  position: absolute;
  bottom: 10px;
}
.MiaoNiang__close_btn___91Wty {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}
.MiaoNiang__close_btn___91Wty i {
  font-size: 20px;
  color: #666;
}
.MiaoNiang__move_wrapper___3yUZq {
  height: 34px;
  clear: both;
  padding: 0 20px;
}
.MiaoNiang__move_wrapper___3yUZq i {
  font-size: 28px;
  color: #666;
}
.MiaoNiang__move_wrapper___3yUZq .MiaoNiang__next_btn___2ZksY {
  float: right;
}
.MiaoNiang__move_wrapper___3yUZq span {
  cursor: pointer;
}
@-webkit-keyframes MiaoNiang__fadeIn___3ws20 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes MiaoNiang__fadeIn___3ws20 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.LoginBtn_wrapper {
  display: inline-block;
  background-color: #fbd11c;
  font-size: 12px;
  color: #000;
  width: 64px;
  height: 30px;
  line-height: 32px;
  text-align: center;
  border-radius: 60px;
  vertical-align: 6px;
  margin-left: 10px;
  margin-right: 10px;
}
.LoginBtn_wrapper:hover {
  cursor: pointer;
  background-color: #ffd316;
}
#Search_container {
  margin-top: 20px;
}
#Search_container #Search_list_wrapper li {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 10px 12px 10px;
}
#Search_container #Search_list_wrapper li .Search_title_wrapper {
  padding-right: 55px;
  border-bottom: 1px solid #ebebeb;
}
#Search_container #Search_list_wrapper li .Search__file_time___WeMcM {
  font-size: 13px;
  padding-left: 92px;
  padding-bottom: 10px;
}
#Search_container #Search_list_wrapper li .Search__file_time___WeMcM em {
  color: #666;
  margin-left: 20px;
}
#Search_container #Search_list_wrapper li .Search_list_info {
  padding: 10px;
  font-size: 13px;
}
#Search_container #Search_list_wrapper li .Search_list_info .Search_result_type {
  color: #037739;
}
#Search_container #Search_list_wrapper li .Search_list_info .Search_icon_citie {
  width: 17px;
  color: #b61a1a;
  font-size: 14px;
  margin-right: 5px;
  vertical-align: -1px;
  display: inline-block;
}
#Search_container #Search_list_wrapper li .Search_list_info .Search__icon_baidu___gGlRM {
  width: 17px;
  color: #303de3;
  font-size: 17px;
  margin-right: 5px;
  vertical-align: -1px;
  display: inline-block;
}
#Search_container #Search_list_wrapper li .Search_list_info em {
  color: #666;
  margin-left: 20px;
}
.Search__cardsWrapper____mqB2 {
  padding: 0 10px;
}
.Search__limited_container___2II87 {
  font-size: 13px;
  font-weight: 400;
  color: #666;
  margin: 0 0 12px 0;
}
.Search__limited_container___2II87 span {
  color: #333;
  cursor: pointer;
}
.Search__limited_container___2II87 span.Search__setting___3LnOi {
  color: #4f7ec1;
  text-decoration: underline;
  padding-left: 3px;
}
#Search_content_right {
  vertical-align: top;
  border-left: 1px solid #e1e1e1;
  padding-left: 10px;
  padding-bottom: 20px;
      margin-right: 10px;
}
#RightTopList_top_list {
  margin-bottom: 30px;
}
#RightTopList_top_list .RightTopList_content_right_title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
}
#RightTopList_top_list .RightTopList_rank_title {
  height: 32px;
  line-height: 32px;
  color: #666;
  font-weight: 400;
  font-size: 13px;
  border-bottom: 1px solid #f0f0f0;
}
#RightTopList_top_list .RightTopList_float_left {
  float: left;
  width: 65%;
}
#RightTopList_top_list .RightTopList_float_right {
  float: right;
  width: 35%;
  text-align: right;
}
#RightTopList_top_list .RightTopList_rank_list {
  font-size: 13px;
}
#RightTopList_top_list .RightTopList_rank_list li {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #f0f0f0;
  clear: both;
}
#RightTopList_top_list .RightTopList_rank_list a {
  color: -webkit-link;
  text-decoration: none;
      color: #37A;
}
#RightTopList_top_list .RightTopList_rank_list a:hover {
  text-decoration: underline;
}
.RightTopList_rank_num {
  display: inline-block;
  padding: 1px 0;
  color: #fff;
  width: 14px;
  line-height: 100%;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  background-color: #8eb9f5;
}
.RightTopList_rank_num_1 {
  background-color: #f54545;
}
.RightTopList_rank_num_2{
  background-color: #ff8547;
}
.RightTopList_rank_num_3{
  background-color: #ffac38;
}

.Search_box{
  margin-top: 15px;
}
.Search_sug{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px 0;
    padding: 5px;
    font-size: 14px;
}
.Search_tip{
  padding: 0 10px 15px;
  font-size: 14px;
  text-align: center;
}
.Search_nav {
  font-size: 13px;
  padding: 10px 20px 10px 10px;
  margin:0 10px;
  background-color: #fff;
  color: #10468e;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
}
.Search_nav a {
  margin-right: 10px;
  color: #666;
    text-decoration: none;
}
.Search_nav .Search_nav_highlight {
color: #37A;
}
.Search_nav .Search_nav_highlight:hover {
  color: #37A;
  background-color: #E8E8E8;
  cursor: pointer;
}
.Search_nav i {
  font-size: 29px;
  color: #f94d05;
  position: absolute;
  right: 0;
  top: -2px;
}
#No_result_container {
  font-size: 13px;
  margin-top: 80px;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 10px;
}
#No_result_container em {
  color: #c00;
}
#No_result_container #NoResultContainer_tips_title {
  color: #666;
  font-size: 13px;
  line-height: 28px;
  margin-top: 20px;
}
#No_result_container li {
  color: #333;
  font-size: 13px;
  padding-left: 10px;
  list-style-position: inside;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  border: none;
}
.Search__operation_wrapper___261-c i {
  display: inline-block;
  width: 45px;
  font-size: 14px;
  color: #888;
  text-align: center;
}
.Search__operation_wrapper___261-c .Search__un_fav_btn___23xeG:hover,
.Search__operation_wrapper___261-c .Search__fav_btn___2dyyN:hover {
  cursor: pointer;
}
.Search__operation_wrapper___261-c .Search__un_fav_btn___23xeG:hover i {
  color: #666;
}
.Search__operation_wrapper___261-c .Search__fav_btn___2dyyN {
  color: #f8bf07;
}
.Search__operation_wrapper___261-c .Search__fav_btn___2dyyN i {
  color: #ecc900;
}
.Search__amaod_dl___8BFS6 {
  position: relative;
  margin-top: 12px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.Search__amaod___KrSrR {
  position: relative;
  margin: 0 10px 12px 10px;
  box-sizing: border-box;
}
.WorkCard__actress___2PUs8 a {
  text-decoration: none;
  cursor: pointer;
}
.WorkCard__actress___2PUs8 a:hover {
  text-decoration: underline;
}
.MovieCard__actress___IE2s_ a {
  text-decoration: none;
  cursor: pointer;
}
.MovieCard__actress___IE2s_ a:hover {
  text-decoration: underline;
}
#MovieCard__episode___27sys li {
  position: relative;
  background-color: #FFF;
  float: left;
  margin-right: 17px;
  list-style: none;
  margin-top: 10px;
}
#MovieCard__episode___27sys li a {
  display: block;
  width: 50px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #d8d8d8;
  cursor: pointer;
  font-size: 13px;
  color: #0012ce;
}
#MovieCard__episode___27sys li a:hover {
  border-color: #0d90c7;
}
.Content_download_btn a {
  background-color: #4f7fc1;
  border-color: #4f7fc1;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;
  vertical-align: top;
}
.Content_download_btn a i {
  vertical-align: 2px;
  padding-right: 3px;
  font-size: 12px;
}
.Content_download_btn a:hover {
  text-decoration: underline;
}
.Content_download_btn a:hover i {
  text-decoration: none;
}
.Content_download_btn a.content_online_play_btn {
  margin-right: 13px;
  background-color: #ff590a;
  border-color: #ef4d00;
}
.Content_download_btn a.content_online_play_btn i {
  vertical-align: 1px;
}
.Information_outer_container {
  position: relative;
  min-height: 100%;
  background-color: #f2f2f2;
}
#Information_container {
  margin-top: 20px;
}
.Information_content_container {
  padding: 0 10px;
}
.Information_box_shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.Information_title{
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  word-break: break-all;
}
.Information_magnet_wrapper,
.Information_info_wrapper,
.Information_files_wrapper {
  margin-top: 20px;
  font-size: 13px;
}
.Information_magnet_wrapper .Information_magnet {
  color: #0012ce;
  font-size: 13px;
  text-decoration: underline;
  word-wrap: break-word;
}
.Information_magnet_wrapper .Information_download_tips {
  color: #ab1616;
  margin-top: 8px;
}
.Information_magnet_wrapper .Information_download_tips a {
  color: #4682b4;
}
.Information_magnet_wrapper .Information_l_title {
  position: relative;
}
.Information_magnet_wrapper .Information_l_title i {
  color: #b61a1a;
}
.Information_magnet_wrapper .Information_l_title .Information_copy_magnet_btn {
  display: inline-block;
  width: 40px;
  height: 22px;
  line-height: 22px;
  color: #333;
  background-color: #f39f67;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  position: absolute;
  right: 5px;
  top: 10px;
}
.Information_magnet_wrapper .Information_l_title #Information_copy_text {
  position: absolute;
  left: -99999px;
}
.Information_magnet_wrapper .Information_l_title #Information_copy_tips {
  position: absolute;
  font-size: 12px;
  right: 54px;
  top: 12px;
  color: #ab1616;
  opacity: 0;
}
.Information_info_wrapper .Information_l_content {
  word-wrap: break-word;
}
.Information_info_wrapper .Information_l_title i {
  color: #1a63b6;
}
.Information_files_wrapper .Information_l_content li {
  line-height: 24px;
  word-wrap: break-word;
}
.Information_files_wrapper .Information_l_content em {
  margin-left: 10px;
  color: #666;
}
.Information_l_content a{
  margin-right: 5px;
}
.Information_l_title {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}
.Information_l_title i {
  margin-right: 5px;
}
.Information_l_content {
  padding: 10px;
}

#OtherCommon__other_container___14gW8 {
  position: relative;
  min-height: 100%;
  background-color: #f2f2f2;
}
.OtherCommon_box_shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.OtherCommon_content_wrapper {
  background-color: #fff;
}
#OtherCommon_container {
  padding: 0 10px;
  margin-top: 20px;
}
.OtherCommon__content_title___2YgPB {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  font-weight: 700;
}
.OtherCommon__basic_info_wrapper___2n5lL {
  display: -webkit-box;
  padding: 10px;
}
.OtherCommon__basic_info___2Gjn6 {
  -webkit-box-flex: 1;
  font-size: 14px;
}
.OtherCommon__basic_info___2Gjn6 > div {
  margin-bottom: 5px;
}
.OtherCommon__basic_info___2Gjn6 em {
  display: inline-block;
  font-weight: 700;
  color: #999;
  margin-right: 5px;
}
.OtherCommon__basic_info___2Gjn6 span {
  color: #333;
}
.OtherCommon__basic_info___2Gjn6 a {
  color: #136ec2;
  text-decoration: none;
}
.OtherCommon__cover___jo9cK {
  width: 90px;
  margin-left: 10px;
  border: solid 1px #ddd;
  text-align: center;
  overflow: hidden;
  height: -webkit-fit-content;
  height: fit-content;
}
.OtherCommon__cover___jo9cK img {
  max-width: 90px;
}
.OtherCommon__summary_wrapper___2EdVV {
  padding: 10px;
}
.OtherCommon__summary_wrapper___2EdVV .OtherCommon__summary___3r_Id {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  overflow: hidden;
  font-size: 13px;
}
#Instructions__content_wrapper___HE0ib {
  padding: 0 20px;
}
.Instructions_title {
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #eaeaea;
}
.Instructions_text {
  font-size: 14px;
  text-indent: 32px;
  line-height: 28px;
  margin-top: 20px;
  padding: 10px 10px 20px;
}
#Contact__content_wrapper___1lmec {
  padding: 0 20px;
}
.Contact__title___3Mb6K {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}
.Contact__text___H1p2z {
  font-size: 14px;
  text-indent: 32px;
  line-height: 36px;
  margin-top: 20px;
  padding: 10px;
  word-wrap: break-word;
}
#Contact__email___3nY-A {
  font-weight: bold;
  color: #0077ff;
  text-decoration: none;
}
#DownloadTips__content_wrapper___ijplS {
  padding: 0 20px;
}
.DownloadTips__title___3HKOw {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}
#DownloadTips__content___2F8BL {
  padding: 0 10px;
  font-size: 13px;
  word-wrap: break-word;
}
#DownloadTips__content___2F8BL .DownloadTips__list___8xsfn {
  margin-top: 30px;
}
#DownloadTips__content___2F8BL .DownloadTips__question_title___38aHi {
  font-size: 14px;
  color: #333;
}
#DownloadTips__content___2F8BL .DownloadTips__question_answer___26TGq {
  font-size: 14px;
  color: #666666;
  text-indent: 28px;
  padding-top: 10px;
}
#DownloadTips__content___2F8BL a {
  color: #333;
}
#DownloadTips__content___2F8BL ul {
  padding-left: 48px;
}
#DownloadTips__content___2F8BL ul li {
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  list-style: disc;
}
.DownloadTips__bottom___2M7VH {
  margin-top: 100px;
  text-align: center;
  color: #666;
  font-size: 13px;
  padding: 10px;
}
#BaikeCommon__baike_container___f7fc6 {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
}
.BaikeCommon__box_shadow___3sM2c {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#BaikeCommon__container___11Gh- {
  padding: 0 10px;
  margin-top: 20px;
}
.BaikeCommon__content_wrapper___2bAYL {
  background-color: #fff;
  padding: 10px;
}
